@{
    ViewBag.Title = "Tacos Locos";
}

<div class="jumbotron">
    <h1>Locos Tacos</h1>
    <p class="lead">Manage your Taco Loco Deliveries!.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>